<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <Remap from="bewohner" to="bewo"></Remap>
  <Remap from="bewohner_7" to="bewo_7"></Remap>
  <Remap from="bewohner_v7" to="bewo_v7"></Remap>
  <Schema name="Senso7" workingDir="c:/workspace/APEX7/Verw/sqlscri" regex="_v7$"></Schema>
  <Schema name="Senso7_alt" workingDir="c:/workspace/APEX7alt/Verw/sqlscri" regex="_7$"></Schema>
  <Schema name="Senso6" workingDir="C:\Users\rene\source\repos\DuplicateProcedures\" regex=".*"></Schema>
  <TextboxHeight>600</TextboxHeight>
</Config>
